.add-button {
    width: 13%;
    background-color: rgba(245, 121, 59, 0.75);
    color: white;
    border-radius: 4px;
    margin: 5px;
}

.add-button:hover {
    cursor: pointer;
}

.hidden-message {
    font-size: 12px;
    margin-left: -100px;
    margin-top: -5px;
    margin-bottom: 0px;
    color: #F5793B;
}.input-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.short-input {
    width: 18%;
    padding: 1px;
}

